{% extends "base.html" %}

{% block content %}
{% include "questions/question_for_answer_page.html" %}
    <hr>
    {% for answer in question.comment_set.all %}
        {% include "questions/answer.html" %}
    {% endfor %}
    <hr>
    <form action={% url 'question' question.id %} class='input-question' method="post">
    {% csrf_token %}
        <div class="form-group row">
            {{ form.text }}
{#            <textarea  id='Text' class='form-control' cols="5" rows="5" placeholder="Enter your answer here.."></textarea>#}
        </div>
        <div class="form-group row">
            <button type="submit" class="btn btn-primary">Ask!</button>
        </div>
    </form>
{% endblock %}