<div class="row justify-content-center question-container">
    <nav aria-label="Page navigation example" class='pagination'>
        <ul class="pagination">

            {% for i in paginator.paginator.page_range %}
                <li class="page-item {% if questions.number == i %}.active{% endif %}"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endfor %}
{##}
{##}
{#            <li class="page-item"><a class="page-link" href="#">...</a></li>#}
{#            <li class="page-item"><a class="page-link" href="#"></a></li>#}
        </ul>
    </nav>
</div>