{% load static %}
<div class="row question-container question-container-border">
    <div class="col-3">
        <div class="row justify-content-center">
            <img class="avatar" src={% static "img/img.jpg" %}  >
        </div>
        <div class="row justify-content-center">
             <div class="row justify-content-center">
                 <div class="btn btn-link btn-lg btn-like ">
                    <i onclick="likeToggle(this)" class="fa fa-thumbs-up"></i>
                 </div>
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="row">
            <h3><a href={% url "question" question.number %}>{{ question.title }}</a></h3>
        </div>
        <div class="row">
            <p>{{ question.text }}</p>
        </div>
        <div class="row mb-0">
            <div class="col-4">
                <a href={% url "question" question.number %}>answer({{ question.number_of_answers }})</a>
            </div>
            <div class="col-8">
                Tags:
                {% for tag in question.tags %}
                    <a href={% url "tag" tag %}>{{ tag }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>