{% load static %}
<div class="border my-3 rounded shadow-sm row">
    <div class="col-md-3">
        <div class="row justify-content-center">
            <img class="avatar rounded" src="{{ question.author.upload.url }}"  >
        </div>
        <div class="row justify-content-center" id="question_{{ question.id }}">
          {{ question.rating }}
       </div>
        <div class="row justify-content-center">
             <div class="row justify-content-center">
                 <div class="col-md-6">
                     <div class="btn btn-link btn-lg btn-like like" >
                         <input type="hidden"  name="question" value="{{ question.id }}"/>
                         <i class="fa fa-thumbs-up"></i>
                    </div>
                 </div>
                 <div class="col-md-6">
                     <div class="btn btn-link btn-lg btn-like dislike" >
                         <input type="hidden"  name="question" value="{{ question.id }}"/>
                         <i  class="fa fa-thumbs-down"></i>
                    </div>
                 </div>

            </div>
        </div>

    </div>
    <div class="col-md-9">
        <div class="row">
            <h3><a href={% url "question" question.pk %}>{{ question.title }}</a></h3>
        </div>
        <div class="row">
            <p>{{ question.text }}</p>
{#            <p>{{ question.rating }}</p>#}
        </div>
        <div class="row mb-0">
            <div class="col-4">
                <a href={% url "question" question.pk %}>answer({{ question.comments_count}})</a>
            </div>
            <div class="col-8">
                Tags:
                {% for tag in question.tags.all %}
                    <a class="badge badge-success" href={% url "tag" tag.title %}>{{ tag.title }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>